{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
    <head>
    <title>
    Blog submission
    </title>
    </head>
    <body>
    <form action = "/blog/newpost" method = "post">
        <label>
            <div style= "margin: 5px ; font-family: 'Myriad Pro', TimesNewRoman">SUBJECT</div>
            <input style= "margin: 2px" type = "text" name ="subject" value = "{{blog.subject}}">
        </label>

        <label>
            <div style= "margin: 5px">BLOG </div>
            <textarea style= "margin: 2px ; font-family: 'Myriad Pro', TimesNewRoman" name= "blog">{{blog.blog}}</textarea>
        </label>

        <div class = "error" style = "color: maroon"> {{error}} </div>
        <input style = "margin: 2px" type = "submit">
    </form>


    </body>
</html>
{% endblock %}
